@media screen and (max-width: 1199px) {
  header .logo img {
    width: 26px;
  }
  header .logo .company-name {
    font-size: 15px;
  }
  header nav a {
    margin-left: 27px;
  }
  header nav .item {
    font-size: 12px;
  }
  .header-slider {
    height: 555px;
  }
  .btn-orange {
    font-size: 13px;
    min-width: 150px;
  }
  header {
    padding: 7px 0;
  }
  .header-slider .carousel-item h1 {
    font-size: 34px;
  }
  .header-slider .carousel-item .under-title {
    font-size: 15px;
  }
  .about-section .content {
    padding-top: 30px;
  }
  .text {
    font-size: 12px;
  }
  .about-section .btn-orange {
    margin-top: 40px;
  }
  .our-classes-section #navClasses button {
    font-size: 28px;
    margin-left: 20px;
  }
  .orange-hr {
    margin: 20px auto 35px;
  }
  .text,
  .feedback-section .form-section .text,
  .latest-news-section .element .content-new .desc {
    font-size: 12px;
  }
  .comments-section .comments-carousel .item .comment-text {
    font-size: 15px;
  }
  .latest-news-section .element .content-new .title-new {
    font-size: 18px;
  }
  footer .footer-text,
  footer .contact-us .element {
    font-size: 12px;
  }
  footer .soc a {
    font-size: 26px;
    margin: 0 16px;
  }
  footer .sponsor-block img {
    width: 75px;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .header-slider {
    background: url(../img/bg-header.png) top center no-repeat, black;
    background-size: auto 100%;
    height: 470px;
    padding-top: 105px;
  }
  .header-slider .carousel-indicators li {
    font-size: 15px;
  }
  .header-slider .carousel-indicators .active {
    font-size: 18px;
  }
  header {
    position: fixed;
    z-index: 555;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    height: 56px;
  }
  html {
    position: relative;
  }
  body {
    padding-top: 56px;
    position: relative;
  }
  header .logo .company-name {
    font-size: 13px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 8px;
  }
  .mobile-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    background: rgba(0, 0, 0, 0.85);
    width: 300px;
    padding: 10px 0;
  }
  .mobile-menu nav {
    text-align: center;
  }
  .mobile-menu nav a {
    display: block;
    margin: 0;
    font-size: 13px;
    padding: 7px 10px;
  }
  h2 {
    font-size: 24px;
  }
  .about-section .content {
    padding-top: 0;
  }
  .text,
  .feedback-section .form-section .text,
  .latest-news-section .element .content-new .desc {
    font-size: 11px;
    line-height: 1.4;
  }
  .about-section .text {
    margin-bottom: 10px;
  }
  .about-section .btn-orange {
    margin-top: 10px;
  }
  .about-section {
    padding: 40px 0 10px;
  }
  .feedback-section .form-section form .input,
  .feedback-section .form-section form .textarea {
    margin-bottom: 15px;
    padding: 6px 10px;
    font-size: 12px;
  }
  .feedback-section .form-section form .textarea {
    resize: none;
    height: 110px;
  }
  .feedback-section .video-section .play-btn {
    width: 50px;
    height: 50px;
  }
  .comments-section .comments-carousel .item {
    padding: 0 50px;
  }
  .comments-section #navComments button img {
    width: 50px;
  }
  .comments-section #navComments button.owl-prev {
    right: calc(100% - 45px);
  }
  .comments-section #navComments button.owl-next {
    left: calc(100% - 45px);
  }
  .comments-section .comments-carousel .item .comment-text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .comments-section .comments-carousel .item .client-name {
    font-size: 17px;
  }
  .comments-section {
    padding: 40px 0 10px;
  }
  .latest-news-section {
    padding: 35px 0 45px;
  }
  .latest-news-section #navNews {
    display: block;
  }
  .our-classes-section #navClasses button,
  .latest-news-section #navNews button {
    font-size: 28px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .feedback-section .video-section .video-bg {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 1;
  }
  .feedback-section .form-section form .btn-orange {
    border: none;
    outline: none;
    margin: auto;
    display: block;
  }
  .about-section .img-about {
    width: 100%;
    margin-bottom: 25px;
  }
  .header-slider {
    text-align: center;
    padding-top: 75px;
    height: 400px;
    background: url(../img/bg-header.png) calc(50% + 135px) top no-repeat, black;
    background-size: auto 100%;
  }
  .header-slider .carousel-item hr {
    margin: 20px auto 20px auto;
    width: 60px;
  }
  .header-slider .carousel-item h1 {
    font-size: 30px;
  }
  .header-slider .carousel-item .under-title {
    font-size: 14px;
  }
  .header-slider .carousel-item .btn-orange {
    padding: 12px;
  }
  .comments-section .comments-carousel .item {
    padding: 0;
  }
  .comments-section #navComments button.owl-prev {
    right: auto;
    left: calc(50% - 65px);
    bottom: 0;
    top: auto;
    z-index: 50;
  }
  .comments-section #navComments button.owl-next {
    left: auto;
    right: calc(50% - 65px);
    bottom: 0;
    top: auto;
    z-index: 50;
  }
  .comments-section .comments-carousel {
    padding-bottom: 20px;
  }
  .latest-news-section .element .content-new .title-new {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .header-slider .carousel-item h1 {
    font-size: 24px;
  }
  .header-slider {
    text-align: center;
    padding-top: 45px;
    height: 315px;
    background: url(../img/bg-header.png) calc(50% + 101px) bottom no-repeat, black;
    background-size: auto 100%;
  }
  .header-slider .carousel-indicators {
    margin-bottom: 20px;
  }
  .header-slider .carousel-indicators li {
    font-size: 12px;
  }
  .header-slider .carousel-indicators .active {
    font-size: 14px;
  }
  .about-section h2 {
    text-align: center;
  }
  h2 {
    font-size: 20px;
  }
  .about-section .btn-orange {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 150px;
  }
  .orange-hr {
    margin: 15px auto 35px;
  }
  .our-classes-section .item .title-class {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .our-classes-section .item img {
    width: 100%;
    margin-bottom: 12px;
  }
  .our-classes-section {
    padding: 35px 0 40px;
  }
  .comments-section .comments-carousel {
    padding-top: 0;
  }
  .comments-section .comments-carousel .item .comment-text {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .comments-section .comments-carousel .item .client-name {
    font-size: 15px;
  }
  footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  footer .footer-text,
  footer .contact-us .element {
    font-size: 11px;
  }
  footer {
    padding: 40px 0 20px;
  }
  footer form {
    margin: 25px 0 30px;
  }
  footer form .input {
    font-size: 12px;
  }
  .mobile-menu {
    position: absolute;
    right: 15px;
    top: calc(100% + 10px);
    background: rgba(0, 0, 0, 0.85);
    width: 250px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 380px) {
  .header-slider .carousel-item h1 {
    font-size: 20px;
  }
  .header-slider .carousel-item .under-title {
    font-size: 12px;
  }
}
/*# sourceMappingURL=media.css.map */